/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


table {
    width: 70%;
}

tr {
   display: flex;
   border-bottom: 1px solid;
}

th, td {
    display: inline-block;
    min-width: min-content;
    text-align: center;
    width: 130px;
    padding: 20px 0;
}

